[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
itsdangerous = "*"
motor = "*"
aiohttp = "*"
aiofiles = "*"
jinja2 = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
