<!DOCTYPE html>
<html>
    <head>
        <title>ImposterLeaderboard</title>

        <link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/milligram.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',path='css/app.min.css')}}">
    </head>
    <body>
        <header>
            <div class="container">
                <h3>ImposterLeaderboard</h2>

                <div class="user">
                {% if user %}
                    <span>/u/{{user.name}}</span>
                    <a href="{{url_for('logout')}}">Logout</a>
                {% else %}
                    <a href="{{url_for('login')}}">Login</a>
                {% endif %}
                </div>
            </div>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div class="container">
                <a href="https://derw.xyz" target="_blank">derw.xyz</a>
                <a href="https://github.com/notderw/ImposterLeaderboard" target="_blank">Source</a>
            </div>
        </footer>
    </body>
</html>
