{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="column-offset-25 column column-50">
            <table>
                <thead>
                    <tr><th></th><th>Username</th><th>{{board.replace('_', ' ').title()}}</th></tr>
                </thead>
                <tbody>
                    {% for place, u in users %}
                    <tr class="{{'me' if u.id == user.id else ''}}">
                        <td>#{{place+1}}</td><td><a href="{{url_for('user_profile',n=u.name)}}">/u/{{u.name}}</a></td>
                        {% if board == 'user_score' %}
                        <td>{{'{:,.1f}'.format(u[board]*100)}}%</td>
                        {% else %}
                        <td>{{'{:,.0f}'.format(u[board])}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
