{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h4>Other Leaderboards:</h4>
    </div>
    <div class="row">
        {% for board in boards %}
        <div class="column">
            <a href="{{url_for('single_leaderboard',board=board)}}">{{board}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="column column-50">
            <table>
                <thead>
                    <tr><th></th><th>Username</th><th>Win Streak</th></tr>
                </thead>
                <tbody>
                    {% for place, u in win %}
                    <tr class="{{'me' if u.id == user.id else ''}}"><td>#{{place+1}}</td><td>/u/{{u.name}}</td><td title="{{'{:,.0f}'.format(u.games_played)}} games played">{{'{:,.0f}'.format(u.max_win_streak)}}</td></tr class="{{'me' if u.id == user.id else ''}}">
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column column-50">
            <table>
                <thead>
                    <tr><th></th><th>Username</th><th>Lose Streak</th></tr>
                </thead>
                <tbody>
                    {% for place, u in lose %}
                    <tr class="{{'me' if u.id == user.id else ''}}"><td>#{{place+1}}</td><td>/u/{{u.name}}</td><td title="{{'{:,.0f}'.format(u.games_played)}} games played">{{'{:,.0f}'.format(u.max_lose_streak)}}</td"></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
